body {
  background-color: hsl(212, 45%, 89%);
  margin: 0;
}

p, a {
  font-family: "Outfit", sans-serif;
}

h3 {
  font-family: "Outfit-bold", sans-serif;
}

#center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

#center-screen .qr-code {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5%;
  padding-top: 1.5vh;
  width: 33vh;
  height: 49vh;
}

#center-screen .qr-code .qr-image {
  border-radius: 5%;
  width: 90%;
}

#center-screen .qr-code .qr-text {
  display: inline-block;
  width: 30vh;
}

#center-screen .qr-code p {
  font-size: 1.7vh;
  color: hsl(220, 15%, 55%);
}

#center-screen .qr-code h3 {
  font-size: 2.2vh;
}

.footer {
  position: absolute;
  bottom: 3vh;
}

.footer p, a {
  font-size: 1.7vh;
}

.footer a {
  color: hsl(228, 45%, 44%);
}
